<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Archit Anand. It uses data from mapbox.com and weatherstack.com</p>
            <img src="" class="potrait">
        </div>
        {{>footer}}
    </body>
</html>